POSTGRES_DB=shortener
POSTGRES_USER=shortener
POSTGRES_PASSWORD=shortener
POSTGRES_PORT=5432

REDIS_PORT=6379

SHORTENER_BASE_URL=http://localhost:8080
SHORTENER_NODE_ID=1
SHORTENER_CACHE_TTL=PT1H
SHORTENER_RATELIMIT_CAPACITY=20
SHORTENER_RATELIMIT_REFILL_PER_SECOND=5
